#sidebar {
  display: flex;
  width: 65px;
  height: max-content;
  min-width: 65px;
  padding-top:3px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #00568B;
  justify-content: center;
  position: relative;
  opacity: 0.5;
}
#submenu {
  position: absolute;
  left: 65px;
  top: 50px;
  width: 200px;
  height:740px ;
  padding: 14px;
  background-color: #fff;
}
#listsubmenu{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#listsubmenu p{
  color: #555;
  font-size: 16px;
  padding-left: 20px;
  width: '100%';
  height:35px;
}
#listsubmenu p:hover{
  color: #00568B;
}
#submenuSelected {
  content: "";
  width: 62px;
  height: 58px;
  position: absolute;
  left: -61px;
  border-radius: 100px 0 0 100px;
  background-color: #fff;
  z-index: -1;
  transition: 0.5s;
}
.top1 {
  top: 12px;
}
.top2 {
  top: 78px;
}
.top3 {
  top: 144px;
}
.top4 {
  top: 210px;
}
.top5 {
  top: 276px;
}
.top6 {
  top: 342px;
}
.top7 {
  top: 408px;
}
.top8 {
  top: 474px;
}
.top9 {
  top: 540px;
}
.top10 {
  top: 606px;
}
.top11 {
  top: 672px;
}
#submenuSelected::before {
  content: "";
  width: 17px;
  height: 16.5px;
  position: absolute;
  top: -11.7px;
  left: 49px;
  box-sizing: border-box;
  border-bottom-right-radius: 20px;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
  background-color:#00568B;
}
#submenuSelected::after{
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  top: 53.4px;
  left: 49px;
  box-sizing: border-box;
  border-top-right-radius: 20px;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  background-color:#00568B;
}


#sidebar #bgAzul {
  background: transparent;
}
#sidebar img {
  display: flex;
  flex: 1;
}
#sidebar #MdApps {
  color: #00568B;
  width:40px;
  height:40px;
}
#sidebar #MdApps2 {
  color: #00568B;
  width:40px;
  height:40px;
}
#sidebar ul {
  list-style: none;
  padding: 0px;
}
#sidebar ul li {
  display: flex;
  width: 45px;
  height: 45px;
  margin-bottom: 21px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}
.btnW {
  background-color: #fff;
}
.btnB {
  background-color:#00568B;
}


#sidebar ul li img{
  margin: 0;
  width: 45px;
  height: 45px;
}
#selectedEfect1 {
  width: 100%;
  height: 10px;
  background-color: #00568B;
}
#selectedEfect2 {
  flex: 1;
  width: 100%;
  height: 10px;
  background-color: #fff;
}
#selectedEfect3 {
  width: 100%;
  height: 10px;
  background-color: #00568B;
}
